@import url("https://fonts.cdnfonts.com/css/cursed-timer-ulil");

body {
  margin: 0;
  text-align: center;
  background-color: 1B244A;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.score {
  background: #0a0001;
  font-size: 90px;
  color: #f94f6d;
  font-family: "Cursed Timer ULiL", sans-serif;
  width: 120px;
  margin: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
}

button {
  background: none;
  color: white;
  border-color: white;
  font-family: "Cursed Timer ULiL", sans-serif;
}

.reset-container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.reset-btn {
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #f94f6d;
  border: none;
  color: white;
}
